@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Nunito+Sans:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin: none;
    background-color: rgba(131, 131, 255, 0.801);
}
 .head{
     text-align: center;
     font-family: 'Exo 2', sans-serif;
}

.name{
    margin:30px 30px ;
    font-family: 'Exo 2', sans-serif;
}

.lesson{
    margin: 30px;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 230px;

}

.beginding{
    margin: 30px;
    border-radius: 3%;
    background-color: rgb(222, 222, 222);
    display: flex;
    flex-wrap: wrap;

}

.makup{
    margin: 30px;
    border-radius: 3%;
    background-color:rgba(222, 222, 222);
    display: flex;
    flex-wrap: wrap;
}
hr{
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
a{
    border: 1px solid rgb(104, 215, 230);
    height: 25px;
    width: 70px;
    text-decoration: none;
    display: flex;
    size: 50px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    transition: background 0.5s;
}

a:hover{
    background-color:rgb(104, 215, 230);
    transition: background 0.5s;
}
.card{
    margin-top: -30px;
    margin-left: 145px;
}

.telegram{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(64, 197, 250);
    position: absolute;
    position: fixed;
    text-align: center;
    top: 400px;
    right: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.telegram:hover{
    background-color: none;
    color: blue;
}